*{
    font-family: Helvetica, Arial, sans-serif;
    margin: 0px;
}

.contenedor{
    min-height: 100vh;
    min-width: 100%;
    margin: 0px;
}

.itemRight{
    padding: 10px;
}

.containerTextlogin{
    display: flex;
    flex-direction: column;
    align-content: center;
    max-width: 400px;
    min-width: 300px;
    text-align: center;
}

.containerTextRegister{
    display: flex;
    flex-direction: column;
    align-content: center;
    max-width: 55%;
    min-width: 30%;
    text-align: center;
}

.spaceDiv{
    height: 20px;
}

.link{
    color: #757ce8;
    margin-top: 3%;
    text-decoration: none;
}

.link:hover{
    text-decoration: underline;
}

.tittle{
    margin-bottom: 20px;
}


/**********************************  FORM ***************************************************/
